/*header*/
header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: #fff;
}

.h_message{
	padding: 6px 0px ;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
}

#h_middle {
  background: #ffc2ca;
  border-top: 1px solid #f4386f;
}

#h_middle .container{
	display: flex;
}

#h_middle .header_logo{
	margin: 10px;
}

#h_middle .h_logo{
	width: 300px;
	
}

#h_search .search_cover{
	border: 1px solid #afafaf;
	margin-top: 35px;

}

.search_cover{
	position: relative;
	margin: 2px 0 0 20px;
	padding: 0 40px 0 15px;
	border-radius: 18px;
	background-color: #fff;
}

#h_search .search_form{
	padding: 0;
	line-height: 2.2;
	border: none;
	border-radius: 0;
	background: none;
	width: 245px;
}

#h_middle .h_btn{
	margin: 20px 0 0 auto;
}

#h_middle .container ul{
	list-style: none;
	position: absolute;
	margin-right: 0;
	padding: 0;
	width: 120px;
	height: 56px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#h_middle .container ul li{
	width: 56px;
	height: 56px;
	padding: 0;
	margin: 0;
}


.topright_btn{
	display: flex;
}

.col2_btn{
	flex: 50%;
  	align-self: center;
}

#h_nav{
	background-color: #3c3c3c;
	box-shadow: 0 2px 3px;
	
}

#h_nav ul {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: nowrap;
	list-style: none;
}

#h_nav ul li a{
	color: #fff;
	padding: 7px 9px;
	display: block;
	margin-right: 20px;
	height: 35px;
}

#h_nav ul li a:hover{
	text-decoration: none;
	border-bottom: 3px solid #F4386F;
}

.message{
	color: #e96e7a;
    padding: 7px 9px;
    display: block;
    margin-right: 20px;
    height: 20px;
}


/*Content*/
body{
	background: url("/img/bg1.jpg") repeat;
}

.main_content{
	padding-top: 200px;
	
}

.content{
	min-height: 300px;
}

.main-form{
	width: 300px;
	display: block;
	margin: 0 auto;
}

.banner{
	max-width: 1240px;
	padding: 30px 20px 50px;
	box-sizing: border-box;
	position: relative;
}

.banner ul{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}

.banner ul li{
	margin-bottom: 25px;
}

.banner ul li img{
	max-width: 100%;
}

.add_to_cart{
	margin: 5px 20px;
    font-weight: bold;
    background-color: #a0d2e3;
    padding: 10px;
    border-radius: 5px;
    color: #000;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #fff;
}

.add_to_cart:hover{
	background-color:#ffc2ca;
	text-decoration: none;
}

.price{
	margin: 5px 30px;
}

#article {
	border: solid 3px;
    border-radius: 10px;
    background: #fff;
    padding: 20px;
}

/*Footer*/
.footer{
	bottom: 0;
	width: 100%;
	background-color: #3c3c3c;
	color: #fff;
	text-align: center;
	padding: 5px;
}

.f_logo{
	width: 150px;
	background-size: cover;
}
